

<!--        </div>-->

<!-- BTN -->
<!--          <div class="hero-quote">-->
<!--            <p><span></span><span></span></p>-->
<!--          </div>-->

<!--     <div class="hero-cta">-->
<!--            <a id="hero-cta"></a>-->
<!--          </div>-->
<!--        </div>-->


<!--
      <section class="info">

        <div class="info-title">BITS '24 <span>WINNERS,</span></div>


        <section style="margin-top: 4rem;" class="rankings">
          <div class="rank-card rank-silver">
            <div class="rank-card-stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="rank-card-mask">
              <div class="rank-card-acnt rcbg-tr"></div>
              <div class="rank-card-acnt rcbg-bl"></div>
            </div>

            <div class="rank-card-title">
              <p>1ST RUNNER UP</p>
            </div>
            <div class="rank-card-info">
              <p class="rank-card-contestant">
                Saviru Dulneth
              </p>
              <p class="rank-card-grade">
                Savi | G09
              </p>
            </div>
          </div>
          <div class="rank-card rank-gold">
            <div class="rank-card-stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="rank-card-mask">
              <div class="rank-card-acnt rcbg-tr"></div>
              <div class="rank-card-acnt rcbg-bl"></div>
            </div>

            <div class="rank-card-title">
              <p>WINNER</p>
            </div>
            <div class="rank-card-info">
              <p class="rank-card-contestant">
                Senura Perera
              </p>
              <p class="rank-card-grade">
                WPIS_DEVELOPER | G11(NEW)
              </p>
            </div>
          </div>
          <div class="rank-card rank-bronze">
            <div class="rank-card-stars">
              <i class="fa-solid fa-star"></i>
            </div>
            <div class="rank-card-mask">
              <div class="rank-card-acnt rcbg-tr"></div>
              <div class="rank-card-acnt rcbg-bl"></div>
            </div>

            <div class="rank-card-title">
              <p>2ND RUNNER UP</p>
            </div>
            <div class="rank-card-info">
              <p class="rank-card-contestant">
                Ramiru Thehan
              </p>
              <p class="rank-card-grade">
                Ramiru | G10
              </p>
            </div>
        </section>


      </section>

-->

<!--
      <section class="info">

        <div class="info-title">Our <span>Analytics,</span></div>


        <section class="tasks" style="margin-top: 4rem;">

          <div class="task-list">
            <div class="task-item">
              <div class="ti-bg-acnt tibg-tr"></div>
              <div class="ti-bg-acnt tibg-bl"></div>
              <div class="ti-info">
                <h4>
                  Website Total Visiters
                </h4>
                <h3>
                  11690+
                </h3><br>
                <p><i class="fa-solid fa-hourglass-end"></i>&nbsp; Last Fetched: Wed May 01 2024 13:36:54 GMT+0000 (Coordinated Universal Time)
                </p>
              </div>
            </div>
          </div>
          </div>

          <div class="task-item">
            <div class="ti-bg-acnt tibg-tr"></div>
            <div class="ti-bg-acnt tibg-bl"></div>

            <div class="ti-info">
              <h4>
                Total Competitors
              </h4>
              <h3>
                250+
              </h3><br>
              <p><i class="fa-solid fa-hourglass-end"></i>&nbsp; Last Fetched: Wed May 01 2024 13:36:54 GMT+0000 (Coordinated Universal Time)
              </p>
            </div>
          </div>
          </div>
          </div>

          <div class="task-item">
            <div class="ti-bg-acnt tibg-tr"></div>
            <div class="ti-bg-acnt tibg-bl"></div>

            <div class="ti-info">
              <h4>
                Total Tasks Checked
              </h4>
              <h3>
                1241+
              </h3><br>
              <p><i class="fa-solid fa-hourglass-end"></i>&nbsp; Last Fetched: Wed May 01 2024 13:36:54 GMT+0000 (Coordinated Universal Time)
              </p>
            </div>
          </div>
          </div>
          </div>

          </div>
        </section>

      </section>









      <section class="info">

        <div class="info-title">BITS '24 <span>Timeline,</span></div>

      </section>


      <section id="cd-timeline" class="cd-container">

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div>

          <div class="cd-timeline-content">
            <h2>25th March 2024</h2>
            <p>Registration opened through the Bits official site</p>
          </div>
        </div>


        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div>

          <div class="cd-timeline-content">
            <h2>28th March 2024</h2>
            <p>BITS '24 introductory workshop at the Sathmahala main IT lab</p>
          </div>
        </div>


        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div>

          <div class="cd-timeline-content">
            <h2>31st March 2024</h2>
            <p>Registration closed</p>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div>

          <div class="cd-timeline-content">
            <h2>April 1st week</h2>
            <p> Released of 19 basic tasks</p>
          </div>
        </div>


        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div>

          <div class="cd-timeline-content">
            <h2>5th April 2024</h2>
            <p>The first phase of the BITS '24 online quiz competition</p>
          </div>
        </div>


        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div>

          <div class="cd-timeline-content">
            <h2>April 2nd week</h2>
            <p>Released of 19 basic tasks</p>
          </div>
        </div>


        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div>

          <div class="cd-timeline-content">
            <h2>13th April 2024</h2>
            <p>The second phase of the BITS '24 online quiz competition</p>
          </div>
        </div>


        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div>

          <div class="cd-timeline-content">
            <h2>April 3rd week</h2>
            <p>Released of 19 basic tasks</p>
          </div>
        </div>


        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div>

          <div class="cd-timeline-content">
            <h2>21st April 2024</h2>
            <p>The third phase of the BITS '24 online quiz competition</p>
          </div>
        </div>


        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div>

          <div class="cd-timeline-content">
            <h2>April 4rd week</h2>
            <p>Released of 9 advanced tasks (3 for each category)</p>
          </div>
        </div>


        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div>

          <div class="cd-timeline-content">
            <h2>28th April 2024</h2>
            <p>BITS '24 final quiz competition</p>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div>

          <div class="cd-timeline-content">
            <h2>28th April 2024</h2>
            <p>Task submission closes</p>
          </div>
        </div>


        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div>

          <div class="cd-timeline-content">
            <h2>May 1st week</h2>
            <p>Announcement of winners</p>
          </div>
        </div>


      </section>
-->
