<!--
      <section style="margin-left: 2rem; margin-right: 2rem;" class="rankings">
        <div class="rank-card rank-silver">
          <div class="rank-card-stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <div class="rank-card-mask">
            <div class="rank-card-acnt rcbg-tr"></div>
            <div class="rank-card-acnt rcbg-bl"></div>
          </div>

          <div class="rank-card-title">
            <p>1ST RUNNER UP</p>
          </div>
          <div class="rank-card-info">
            <p class="rank-card-contestant">
              ?
            </p>
            <p class="rank-card-grade">

            </p>
          </div>
        </div>
        <div class="rank-card rank-gold">
          <div class="rank-card-stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <div class="rank-card-mask">
            <div class="rank-card-acnt rcbg-tr"></div>
            <div class="rank-card-acnt rcbg-bl"></div>
          </div>

          <div class="rank-card-title">
            <p>WINNER</p>
          </div>
          <div class="rank-card-info">
            <p class="rank-card-contestant">
              ?
            </p>
            <p class="rank-card-grade">

            </p>
          </div>
        </div>
        <div class="rank-card rank-bronze">
          <div class="rank-card-stars">
            <i class="fa-solid fa-star"></i>
          </div>
          <div class="rank-card-mask">
            <div class="rank-card-acnt rcbg-tr"></div>
            <div class="rank-card-acnt rcbg-bl"></div>
          </div>

          <div class="rank-card-title">
            <p>2ND RUNNER UP</p>
          </div>
          <div class="rank-card-info">
            <p class="rank-card-contestant">
              ?
            </p>
            <p class="rank-card-grade">

            </p>
          </div>
      </section>

    -->